@model Assesment03.Models.Request

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/RequestDeleteDetails.css" />

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resource_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resource_Name)
        </dd>
    </dl>
</div>
<div>
    <a class=" btn btn-outline-info me-2" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class=" btn btn-outline-info me-2" asp-action="Index">Back to List</a>
</div>
